@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url(../fonts/roboto.woff2) format("woff2"), url(../fonts/roboto.woff) format("woff")
}

@font-face {
  font-family: 'RobotoMedium';
  font-style: normal;
  font-weight: 500;
  src: local("RobotoMedium"), url(../fonts/robotomedium.woff2) format("woff2"), url(../fonts/robotomedium.woff) format("woff")
}

@font-face {
  font-family: 'RobotoLight';
  font-style: normal;
  font-weight: 100;
  src: local("RobotoLight"), url(../fonts/RobotoLight.woff2) format("woff2"), url(../fonts/RobotoLight.woff) format("woff")
}

@font-face {
  font-family: 'Raleway-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway-Regular"), url(../fonts/Raleway-Regular.woff2) format("woff2"), url(../fonts/Raleway-Regular.woff) format("woff");
}

@font-face {
  font-family: 'Raleway-Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Raleway-Bold"), url(../fonts/Raleway-Bold.woff2) format("woff2"), url(../fonts/Raleway-Bold.woff) format("woff");
}

:root {
  --basic-grey: #242424;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-red: #ec3625;
  --checkbox-hover: #ccc;
	--form-border: #c4c4c4;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  /*Плавная прокрутка страницы*/
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--basic-white);
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  min-height: 518px;
  background-image: url(../image/main-image-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--basic-white);
  font-family: "Raleway-Bold";
  position: relative;
}

header::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(64, 14, 14, 0.54);
  position: absolute;
  left: 0;
  top: 0;
}

.header-title {
  text-align: center;
  z-index: 1;
}

.header-title__text{
  font-size: 24px;
}

.header-title__text-1{
  font-size: 36px;
}

@media screen and (min-width: 768px) {
  .header-title {
    text-align: center;
  }
  .header-title__text{
    font-size: 36px;
  }
  .header-title__text-1{
    font-size: 64px;
  }
  .slogan-light {
    font-size: 24px;
  }
}

@media screen and (min-width: 474px) {
  .row{
    flex-direction: column;
  }
}

.img-logo {
  width: 140px;
  height: 180px;
}

@media screen and (min-width: 768px) {
  .img-logo {
    width: 100px;
    height: 150px;
  }

  header{
    min-height: 615px;
    background-image: url(../image/main-image.png);
  }
}

.wrapper-for-logo {
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .wrapper-for-logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}

#go-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.navbar {
  font-family: "RobotoMedium";
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 700;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  border-bottom: 1px solid rgba();
  transition-duration: 0.3s;
}

.faq-list {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2em;
}

.faq-list__question {
  font-weight: bold;
  list-style-position: outside;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-left: .5rem;
  margin-left: .5rem;
}

.faq-list__answer {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2em;
  text-transform: none;
}

.container-results {
  background-color: var(--basic-red);
}

.card-result {
  background-color: var(--basic-red);
  border: none;
  margin: 2rem 0;
  width: 18rem;
  /*250px*/
}

.block-price {
  box-sizing: border-box;
  background-image: linear-gradient(#EE3625, #EE3625), linear-gradient(#EE3625, #EE3625), linear-gradient(#EE3625, #EE3625), linear-gradient(#EE3625, #EE3625);
  background-repeat: no-repeat;
  background-size: 35px 30px;
  /*толщина и выступы*/
  background-position: right top, left top, bottom right, left bottom;
  border: 35px solid #EE3625;
  text-align: center;
  border-width: 35px 0;
  padding: 30px 15px 20px;
  margin: 65px 0;
}

.block-price__subtitle {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #444444;
}

.block-price__text {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 28px;
  line-height: 33px;
  color: #c4c4c4;
}

.block-price__text--selected {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #444444;
}

@media (max-device-width: 760px) {
  .block-price__subtitle {
    font-size: 30px;
    line-height: 36px;
  }

  .block-price__text {
    font-size: 20px;
    line-height: 25px;
  }

  .block-price__text--selected {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (max-device-width: 568px) {
  .block-price__subtitle {
    font-size: 24px;
    line-height: 28px;
  }

  .block-price__text {
    font-size: 18px;
    line-height: 21px;
  }

  .block-price__subtitle--selected {
    font-size: 24px;
    line-height: 28px;
  }
}

.form {
  max-width: 600px;
  color: #444444;
  text-align: center;
	margin: 70px auto;
	display: flex;
	flex-direction: column;
	/* background-color: #555555; */
	padding: 5px 0;
	font-family: 'Raleway-Regular';
	font-size: 20px;
	line-height: 23px;
}

@media (max-device-width: 568px) {
	.form {
		margin: 43px auto;
	}
}

.form__contacts {
	position: relative;
	margin-bottom: 30px;
}

input[type="text"], input[type="tel"] {
  width: 100%;
  height: 66px;
	font-family: 'Raleway-Regular';
	font-size: 20px;
	line-height: 23px;
  border-radius: 5px;
  border: 1px solid var(--form-border);
  box-sizing: border-box;
  padding-left: 74px;
}

.form__contacts--name::before {
	content: '';
	background-image: url(../image/ic20-user.svg);
	left: 15px;
	top: 10px;
	background-repeat: no-repeat;
	background-size: cover;
  position: absolute;
  width: 40px;
	height: 40px;
}

.form__contacts--telephone::before {
	content: '';
	background-image: url(../image/ic24-phone.svg);
	left: 15px;
	top: 10px;
	background-repeat: no-repeat;
	background-size: cover;
  position: absolute;
  width: 40px;
	height: 40px;
}

.form__send {
	padding-top: 57px;
}

@media (max-device-width: 767px) {
	.form__send {
		padding-top: 50px;
	}
}

.button-send {
  padding: 18px 25px;
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
	position: relative;
}

.button-send:hover {
  transition: all 0.3s;
  opacity: 80%;
}

.button-send span {
	font-family: 'Raleway-Bold';
	text-transform: uppercase;
  font-size: 22px;
  line-height: 26px;
	color: var(--basic-white);
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}

@media (max-device-width: 767px) {
	.flex-container{
	flex-direction: column;
	align-items: start;
	}
}

.check {
	padding-left: 50px;
	position: relative;
	cursor: pointer;
}

.check-items {
		padding-right: 70px;
}

@media (max-device-width: 767px) {
	.check-items{
			padding-right: 0;
			padding-bottom: 25px;
	}
}
.check__input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	visibility: hidden;
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}

	.check__box {
		position: absolute;
		cursor: pointer;
		margin-left: -50px;
		margin-top: -10px;
		width: 40px;
		height: 40px;
		border-radius: 5px;
		border: 1px solid var(--form-border);
	}

	.check__input:hover + .check__box {
		border: 1px solid #ee3625;
	}

	/*Checked*/
	.check__input:checked + .check__box::after {
		position: absolute;
		content: "";
		width: 40px;
		height: 34px;
		background-image: url(../image/icon.svg);
		bottom: 6px;
		left: 5px;
		background-repeat: no-repeat;
	}

/*Focused*/
	.check__input:focus + .check__box {
		border: 1px solid var(--basic-red);
	}

.form-btn {
  position: relative;
  width: 150px;
  height: 40px;
  text-align: center;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1.5;
}

.form-loader {
  width: 80px;
  display: none;
  z-index: 1;
  position: absolute;
}

.slogan-light {
  font-family: "Raleway-Regular";
  font-weight: 100;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .slogan-light {
    font-size: 24px;
  }
}

.section-header {
  position: relative;
  font-family: 'Raleway-Bold';
  font-size: 36px;
  color: #444444;
  margin-bottom: 31px;
}

.section-header::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background: #EE3625;
  left: 20px;
  bottom: -10px;
}

.section-text {
  font-family: 'Raleway-Regular';
  font-size: 18px;
}

.container {
  padding-right: 5px;
}

.about-project__blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-project__text-2 {
  margin-top: 37px;
  margin-bottom: 25px;
}

.about-project__blocks-yoga {
  width: 280px;
  border-radius: 10px;
  text-align: center;
  height: 350px;
  box-shadow: 0 5px 90px 0 rgba(0, 0, 0, 0.1);
}

.about-project__blocks-yoga + .about-project__blocks-yoga {
  margin-top: 20px;
}

.about-project__blocks-yoga__img {
  text-align: center;
  margin-top: 15px;
}

.about-project__blocks-yoga__text {
  width: 246px;
  margin: 0 auto;
  margin-top: 12px;
}

.bl{
  font-family: 'Raleway-Bold';
}

.lh-1{
  line-height: 21.13px;
}

@media screen and (min-width: 560px) {
  .about-project__blocks {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding-left: 15px;
    padding-right: 30px;
  }
  .about-project__blocks {
    flex-direction: row;
  }
  .about-project__blocks-yoga {
    width: 530px;
    min-height: 387px;
  }
  .about-project__blocks-yoga__text {
    width: 444px;
    margin-top: 22px;
  }
  .about-project__blocks-yoga__text-cap {
    padding-bottom: 10px;
  }
  .about-project__blocks-yoga + .about-project__blocks-yoga {
    margin-left: 20px;
    margin-top: 0;
  }
  .section-text {
    font-size: 24px;
    line-height: 28.18px;
  }
  .section-header {
    margin-bottom: 48px;
  }
  .section-header::after {
    left: 15px;
  }
  .about-project__text-2 {
    margin-top: 69px;
    margin-bottom: 69px;
  }
}

#programme {
  margin-top: 58px;
}

.list-group {
  padding-left: 16px;
  margin-top: 26px;
}

.list__group-icon {
  list-style: none;
  background-image: url(../image/programme__icon.svg);
  background-repeat: no-repeat;
  background-position: 0 12px;
  padding-left: 54px;
  height: 60px;
  margin-top: 20px;
}

.list__group-icon:nth-child(2) {
  padding-top: 10px;
}

.list__group-icon:nth-child(3) {
  padding-top: 0;
}

.list__group-icon:nth-child(4) {
  padding-top: 10px;
}

.programme__content-img {
  display: none;
}

@media screen and (min-width: 350px) {
  .list__group-icon:nth-child(1){
    padding-top: 15px;
  }
}

@media screen and (min-width: 363px) {
  .list__group-icon:nth-child(2), .list__group-icon:nth-child(3), .list__group-icon:nth-child(4){
    padding-top: 20px;
  }
}

/*@media screen and (min-width: px) {
  .list__group-icon:nth-child(2), .list__group-icon:nth-child(3) {
    padding-top: 20px;
  }
}*/

@media screen and (min-width: 768px) {
  .list__group-icon:nth-child(1),
  .list__group-icon:nth-child(2),
  .list__group-icon:nth-child(3),
  .list__group-icon:nth-child(4) {
    padding-top: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .list__group-icon:nth-child(1),
  .list__group-icon:nth-child(2),
  .list__group-icon:nth-child(3),
  .list__group-icon:nth-child(4) {
    padding-top: 18px;
  }
  #programme {
    margin-top: 125px;
  }
  .list-group {
    margin-top: 8px;
  }
  .list__group-icon {
    margin-bottom: -12px;
  }
  .programme__content {
    display: flex;
    justify-content: space-between;
  }
  .programme__content-img {
    display: block;
    margin-top: -130px;
  }
}

#results {
  margin-top: 58px;
}

.results__text {
  margin-bottom: 35px;
}

@media screen and (min-width: 1200px) {
  #results {
    margin-top: 113px;
  }
}
.btn {
  font-family: 'Raleway-Bold';
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 5px;
}

.btn-success {
  background-color: #EE3625;
  border-color: #EE3625;
}

@media screen and (min-width: 768px) {
  .btn {
    padding: 12px 55px;
  }
}

@media screen and (min-width: 357px) {
  .btn {
    padding: 12px 55px;
  }
}
