@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url(../fonts/roboto.woff2) format("woff2"), url(../fonts/roboto.woff) format("woff")
}

@font-face {
  font-family: 'RobotoMedium';
  font-style: normal;
  font-weight: 500;
  src: local("RobotoMedium"), url(../fonts/robotomedium.woff2) format("woff2"), url(../fonts/robotomedium.woff) format("woff")
}

:root {
  --basic-grey: #242424;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-red: #ec3642;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  /*Плавная прокрутка страницы*/
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--basic-white);
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

img {
  max-width: 100%;
  height: auto;
}

header{
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-family: "RobotoMedium";
}
.bg {
  background-image: url(../image/favicon.png);
  background-color: var(--basic-grey);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.btn.btn-card {
  text-decoration: none;
  color: #ffffff;
  box-shadow: 0 0 5px;
  width: 100%;
  margin-bottom: 30px;
  font-size: 1.3rem;
}

.btn:hover {
  color: #ffffff;
  background-color: #ec3642;
}

.bg-even {
  background-color: var();
}

.navbar {
  font-family: 'RobotoMedium';
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 700;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  border-bottom: 1px solid rgba();
  transition-duration: 0.3s;
}

.faq {
  background-color: var(--basic-grey);
  color: var(--basic-white);
}

.list-question {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.2em;
}

.list-question__decoration {
  margin-left: .5rem;
}

.list-question__decoration:nth-child(odd) {
  font-weight: bold;
  list-style-type: "В.";
  list-style-position: outside;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-grey);
  padding-top: 1rem;
  padding-left: .5rem;
}

.list-question__decoration:nth-child(even) {
  list-style-type: "О.";
  margin-bottom: 1.2rem;
  list-style-position: outside;
  color: var(--basic-white);
  background-color: var(--basic-grey);
  padding: .5rem 0 1.3rem .5rem;
}

.container-results {
  background-color: var(--basic-red);
}

.card-result {
  background-color: var(--basic-red);
  border: none;
  margin: 2rem 0;
  width: 18rem;
  /*250px*/
}

.form {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-family: "Roboto";
  text-align: left;
}


.decoration {
  width: 12rem;
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: 1px solid white;
}

.decoration:hover {
  background-color: var(--basic-white);
  color: var(--basic-red);
  border: 1px solid red;
}

.decoration:active {
  background-color: var(--basic-black);
  color: var(--basic-red);
  border: 1px solid red;
}
