@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url(../fonts/roboto.woff2) format("woff2"), url(../fonts/roboto.woff) format("woff")
}

@font-face {
  font-family: 'RobotoMedium';
  font-style: normal;
  font-weight: 500;
  src: local("RobotoMedium"), url(../fonts/robotomedium.woff2) format("woff2"), url(../fonts/robotomedium.woff) format("woff")
}

:root {
  --basic-grey: #242424;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-red: #ec3642;
  --checkbox-hover: #ccc;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  /*Плавная прокрутка страницы*/
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--basic-white);
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-family: "RobotoMedium";
}

#go-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.navbar {
  font-family: "RobotoMedium";
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 700;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  border-bottom: 1px solid rgba();
  transition-duration: 0.3s;
}

.faq-list {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2em;
}

.faq-list__question {
  font-weight: bold;
  list-style-position: outside;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-left: .5rem;
  margin-left: .5rem;
}

.faq-list__answer {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2em;
  text-transform: none;
}

.container-results {
  background-color: var(--basic-red);
}

.card-result {
  background-color: var(--basic-red);
  border: none;
  margin: 2rem 0;
  width: 18rem;
  /*250px*/
}

.form {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-family: "Roboto";
  text-align: left;
}

.form-check-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.form-check-label:hover input~.checkmark {
  background-color: var(--checkbox-hover);
}

.form-check-label input:checked~.checkmark {
  background-color: var(--basic-grey);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-check-label input:checked~.checkmark:after {
  display: block;
}

.form-check-label .checkmark:after {
  left: 9px;
  top: 6px;
  width: 6px;
  height: 10px;
  border: solid red;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-btn {
  position: relative;
}

.form-loader {
  position: absolute;
  top: 50%;
  right: -47px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity .2s;
}

.slogan-light {
  font-family: "Roboto";
  font-weight: 300;
}
